@using WebApp.Domain
@model IEnumerable<Availability>

@{
    ViewData["Title"] = "Beschikbaarheid";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Beschikbaarheid</h1>
</header>
<div class="content">
    @foreach(Weekday weekday in Enum.GetValues(typeof(Weekday)))
    {
        <div class="inner_div">
            <h5><b>@Weekdays.GetName(weekday)</b></h5>
            @if(Model.Any(availability => availability.Weekday == weekday))
            {
                <span>@Model.First(availability => availability.Weekday == weekday).StartTime.ToString("HH:mm"); - @Model.First(availability => availability.Weekday == weekday).EndTime.ToString("HH:mm");</span>
                <a asp-action="EditAvailability" asp-route-weekday="@weekday"><span class="edit_availability">Wijzigen</span></a>
                if(Model.Count(availability => availability.Weekday == weekday) == 2)
                {
                    <span>@Model.Where(availability => availability.Weekday == weekday).ToList()[1].StartTime.ToString("HH:mm"); - @Model.Where(availability => availability.Weekday == weekday).ToList()[1].EndTime.ToString("HH:mm");</span>
                }
            }
            else
            {
                <span>Niet beschikbaar</span>
                <a asp-action="EditAvailability" asp-route-weekday="@weekday"><span class="edit_availability">Wijzigen</span></a>
            }
        </div>
    }
</div>