@model WebApp.Domain.LeaveRequest

@{
    ViewData["Title"] = "RequestLeave";
    ViewData["Stylesheet"] = "/css/manager.css";
}
<header>
    <h1>Verlofaanvragen</h1>
</header>
<table>
    <tr class="tr_bg">
        <th>Naam</th>
        <th width="20%">Duur</th>
        <th>Status</th>
        <th>Reden</th>
        <th>Aanvraagdatum</th>
        <th>Actie</th>
    </tr>


    @if (!ViewBag.IsEmpty)
    {
        @foreach (var entry in ViewBag.Requests)
        {
            var request = entry.Item1;
            var employeeName = entry.Item2.Name;

            <form>
            <tr class="tr_bg">
                <td> @employeeName </td>

                <td>
                    <b>@request.StartDate.ToShortDateString() &ndash; @request.EndDate.ToShortDateString()</b><br>
                    @{
                        var duration = request.EndDate.Subtract(request.StartDate);
                        var days = duration.Days + 1;
                    }
                    @if (days == 1)
                    {
                        <i>@days dag</i>
                    }
                    else
                    {
                        <i>@days dagen</i>
                    }
                </td>

                <td>
                    @if (request.Approved)
                    {
                        <span class="accepted">Goedgekeurd</span>
                    }
                    else if (request.Rejected)
                    {
                        <span class="rejected">afgekeurd</span>
                    }
                    else
                    {
                        <span class="pending">Openstaand</span>
                    }
                </td>

                <td>@request.Comment</td>
                <td>@request.InsertDate.ToShortDateString()</td>

                    @if (!request.Approved && !request.Rejected)
                    {
                    <td>
                        <button class="red_button" asp-action="RejectLeaveRequest" asp-route-id="@request.Id">Weigeren</button>
                        <button class="green_button" asp-action="ApproveLeaveRequest" asp-route-id="@request.Id">Accepteren</button>
                    </td>
                    }
                    else
                    {
                    <!--Here for not a random empty place in the table-->
                    <td></td>
                    }
            </tr>
            </form>
        }
    }
    else
    {
        <tr class="align_center">Er zijn geen aanvragen</tr>
    }
</table>
<p class="align_right">
    Pagina 1 van 1
    <select>
        <option>10 per pagina</option>
        <option>25 per pagina</option>
        <option>50 per pagina</option>
    </select>
</p>
<p class="align_right">
    <a asp-controller="Manager" asp-action="LeaveRequests" class="visible_link">Vorige pagina</a>
    <a asp-controller="Manager" asp-action="LeaveRequests" class="visible_link">Volgende pagina</a>
</p>

