@model PrognosisForm
@{
    ViewData["Stylesheet"] = "/css/manager.css";
    ViewData["Title"] = "Prognose";

    int weekday = 1;
    switch(new DateOnly(ViewBag.StartDate.Year, ViewBag.StartDate.Month, 1).DayOfWeek)
    {
        case DayOfWeek.Monday:    weekday = 1; break;
        case DayOfWeek.Tuesday:   weekday = 2; break;
        case DayOfWeek.Wednesday: weekday = 3; break;
        case DayOfWeek.Thursday:  weekday = 4; break;
        case DayOfWeek.Friday:    weekday = 5; break;
        case DayOfWeek.Saturday:  weekday = 6; break;
        case DayOfWeek.Sunday:    weekday = 7; break;
    }

    string link = "/Manager/Prognosis?departmentName=" + ViewBag.Department.Name + "&";
}

<div class="content_container">
    <aside>
        <partial name="../Desktop/Calendar.cshtml" model="new CalendarData {
            CurrentMonth = ViewBag.StartDate.Month,
            CurrentYear = ViewBag.StartDate.Year,
            FirstWeekdayOfMonth = weekday,
            Today = DateOnly.FromDateTime(DateTime.Today),
            Selected = DateOnly.FromDateTime(ViewBag.StartDate),
            Link = link,
            SelectWeek = true
        };" />
        <hr />
        <p>Afdeling</p>
        <ul>
            @foreach(var department in ViewBag.Departments)
            {
                var linkClasses = "";
                @if(department.Name == ViewBag.Department.Name)
                {
                    linkClasses = "blue";
                }
                <li class="@linkClasses"><a asp-controller="Manager" asp-action="Prognosis" asp-route-departmentName="@department.Name" asp-route-year="@ViewBag.StartDate.Year" asp-route-month="@ViewBag.StartDate.Month" asp-route-day="@ViewBag.StartDate.Day">@department.Name</a></li>
            }
        </ul>
    </aside>
    <div>
        <header>
            <h2 class="align_center">
                <a class="button nav_button" asp-controller="Manager" asp-action="Prognosis" asp-route-departmentName="@ViewBag.Department.Name" asp-route-year="@ViewBag.StartDate.AddDays(-7).Year" asp-route-month="@ViewBag.StartDate.AddDays(-7).Month" asp-route-day="@ViewBag.StartDate.AddDays(-7).Day">&#x2039;</a>
                Prognose: @ViewBag.StartDutchDate &mdash; @ViewBag.EndDutchDate
                <a class="button nav_button" asp-controller="Manager" asp-action="Prognosis" asp-route-departmentName="@ViewBag.Department.Name" asp-route-year="@ViewBag.StartDate.AddDays(7).Year" asp-route-month="@ViewBag.StartDate.AddDays(7).Month" asp-route-day="@ViewBag.StartDate.AddDays(7).Day">&#x203A;</a>
            </h2>
        </header>
        <form asp-action="Prognosis">
            <div class="grid4">
                @for(int i = 0; i < 4; i++)
                {
                    <input type="hidden" asp-for="Prognoses[i].Id" />
                    <input type="hidden" asp-for="Prognoses[i].Date" />
                    <input type="hidden" asp-for="Prognoses[i].DepartmentName" />
                    <div>
                        <h5>@ViewBag.DutchDates[i]</h5><br>
                        <p>
                            @ViewBag.ValueName
                            <span class="input_wrapper">
                                <span class="width_setter" aria-hidden="true">@Model.Prognoses[i].Value</span>
                                <input class="prognosis_input" asp-for="Prognoses[i].Value" type="number" step="1" />
                            </span>
                        </p>
                    </div>
                }
            </div>
            <div class="grid3">
                @for(int i = 4; i < 7; i++)
                {
                    <input type="hidden" asp-for="Prognoses[i].Id" />
                    <input type="hidden" asp-for="Prognoses[i].Date" />
                    <input type="hidden" asp-for="Prognoses[i].DepartmentName" />
                    <div>
                        <h5>@ViewBag.DutchDates[i]</h5><br>
                        <p>
                            @ViewBag.ValueName
                            <span class="input_wrapper">
                                <span class="width_setter" aria-hidden="true">@Model.Prognoses[i].Value</span>
                                <input class="prognosis_input" asp-for="Prognoses[i].Value" type="number" step="1" />
                            </span>
                        </p>
                    </div>
                }
            </div>
            <div class="space_around"><input type="submit" value="Opslaan" /></div>
        </form>
    </div>
</div>

<script>
    window.onload = function() {
        $(".prognosis_input").keyup(function() {
            $(this).parent().find(".width_setter").text($(this).val());
        });
    }
</script>