@{
    ViewData["Stylesheet"] = "/css/manager.css";

    int weekday = 1;
    switch(new DateOnly(ViewBag.Date.Year, ViewBag.Date.Month, 1).DayOfWeek)
    {
        case DayOfWeek.Monday:    weekday = 1; break;
        case DayOfWeek.Tuesday:   weekday = 2; break;
        case DayOfWeek.Wednesday: weekday = 3; break;
        case DayOfWeek.Thursday:  weekday = 4; break;
        case DayOfWeek.Friday:    weekday = 5; break;
        case DayOfWeek.Saturday:  weekday = 6; break;
        case DayOfWeek.Sunday:    weekday = 7; break;
    }

    string link = "/Manager/Scheduling?departmentName=" + ViewBag.DepartmentName;
}

<div class="watermark_concept">
    <p class="concept_text">CONCEPT</p>
</div>
<div class="content_container">
    <aside>
        <partial name="Calendar" model="new CalendarData {
            CurrentMonth = ViewBag.Date.Month,
            CurrentYear = ViewBag.Date.Year,
            FirstWeekdayOfMonth = weekday,
            Today = DateOnly.FromDateTime(DateTime.Today),
            Selected = DateOnly.FromDateTime(ViewBag.Date),
            MinimumDay = DateOnly.FromDateTime(DateTime.Today),
            Link = link
        };" />
        <hr />
        <p>Afdeling</p>
        <ul>
            @foreach(var department in ViewBag.Departments)
            {
                var linkClasses = "";
                @if(department.Name == ViewBag.Department.Name)
                {
                    linkClasses = "blue";
                }
                <li class="@linkClasses"><a asp-controller="Manager" asp-action="Scheduling" asp-route-departmentName="@department.Name" asp-route-year="@ViewBag.Date.Year" asp-route-month="@ViewBag.Date.Month" asp-route-day="@ViewBag.Date.Day">@department.Name</a></li>
            }
        </ul>
    </aside>
    <div>
        <header>
            <h1 class="align_center">
                <a class="button nav_button" asp-controller="Manager" asp-action="Scheduling" asp-route-departmentName="@ViewBag.Department.Name" asp-route-year="@ViewBag.Date.AddDays(-1).Year" asp-route-month="@ViewBag.Date.AddDays(-1).Month" asp-route-day="@ViewBag.Date.AddDays(-1).Day">&#x2039;</a>
                Inroostering: @ViewBag.DutchDate
                <a class="button nav_button" asp-controller="Manager" asp-action="Scheduling" asp-route-departmentName="@ViewBag.Department.Name" asp-route-year="@ViewBag.Date.AddDays(1).Year" asp-route-month="@ViewBag.Date.AddDays(1).Month" asp-route-day="@ViewBag.Date.AddDays(1).Day">&#x203A;</a>
            </h1>
        </header>
        <table>
            <tr>
                <td class="align_center"></td>
                <td class="align_center"></td>
                <td class="align_center"></td>
                @for(int hour = ViewBag.StartHour; hour <= ViewBag.EndHour; hour++)
                {
                    <td class="align_center">@hour:00</td>
                }
            </tr>
            <tr class="seperator"></tr>
            <tr>
                <td class="align_right" colspan="3">Prognose</td>
                @for(int hour = ViewBag.StartHour; hour <= ViewBag.EndHour; hour++)
                {
                    <td class="align_center prognosis_mismatch" id="text_hour_@hour">0/@ViewBag.EmployeePrognosis[hour]</td>
                }
            </tr>
            <tr class="seperator"></tr>
            @foreach(var employee in ViewBag.Employees)
            {
                <tr>
                    <td class="align_right" colspan="3">@employee.Name</td>
                    @for(int hour = ViewBag.StartHour; hour <= ViewBag.EndHour; hour++)
                    {
                        <td class="align_center"><input type="checkbox" class="checkbox_hour_@hour" onclick="update_text(@hour);" /></td>
                    }
                </tr>
            }
        </table>
        <div class="space_around">
            <button>Opslaan</button>
        </div>
    </div>
</div>
<script>
    function update_text(id) {
        var max = $("#text_hour_" + id).text().split("/")[1];
        var current = 0;

        $(".checkbox_hour_" + id).each(function() {
            if($(this).prop("checked")) current++;
        })

        $("#text_hour_" + id).text(current + "/" + max);

        if(max == current) $("#text_hour_" + id).removeClass("prognosis_mismatch");
        else if(!$("#text_hour_" + id).hasClass("prognosis_mismatch")) $("#text_hour_" + id).addClass("prognosis_mismatch");
    }
</script>