@model IEnumerable<ClockedHour>
@{
    ViewData["Stylesheet"] = "/css/manager.css";

    int weekday = 1;
    switch(new DateOnly(ViewBag.Date.Year, ViewBag.Date.Month, 1).DayOfWeek)
    {
        case DayOfWeek.Monday: weekday = 1; break;
        case DayOfWeek.Tuesday: weekday = 2; break;
        case DayOfWeek.Wednesday: weekday = 3; break;
        case DayOfWeek.Thursday: weekday = 4; break;
        case DayOfWeek.Friday: weekday = 5; break;
        case DayOfWeek.Saturday: weekday = 6; break;
        case DayOfWeek.Sunday: weekday = 7; break;
    }

    string link = "/Manager/WorkedHours?";
}

<div class="content_container">
    <aside>
        <partial name="Calendar" model="new CalendarData {
            CurrentMonth = ViewBag.Date.Month,
            CurrentYear = ViewBag.Date.Year,
            FirstWeekdayOfMonth = weekday,
            Today = DateOnly.FromDateTime(DateTime.Today),
            Selected = DateOnly.FromDateTime(ViewBag.Date),
            MaximumDay = DateOnly.FromDateTime(DateTime.Today),
            Link = link
        };" />
    </aside>
    <div>
        <header>
            <h1 class="align_center">
                <button class="nav_button" asp-controller="Manager" asp-action="WorkedHours">&#x2039;</button>
                Uren verlonen: @ViewBag.DutchDate
                <button class="nav_button" asp-controller="Manager" asp-action="WorkedHours">&#x203A;</button>
            </h1>
        </header>
        <div class="space_around">
            <button onclick="$.ajax({ type: 'GET', url: '/Manager/ApproveAllHours?year=@ViewBag.Date.Year&month=@ViewBag.Date.Month&day=@ViewBag.Date.Day', success: function(data) { $('#worked_hours').load('/Manager/WorkedHours?year=@ViewBag.Date.Year&month=@ViewBag.Date.Month&day=@ViewBag.Date.Day #worked_hours > *'); }});">Alle openstaande uren accorderen</button>
        </div>
        <table id="worked_hours">
            <tr class="tr_bg">
                <th width="20%">Naam</th>
                <th class="align_center">Starttijd</th>
                <th class="align_center">Eindtijd</th>
                <th class="align_center">Inkloktijd</th>
                <th class="align_center">Uitkloktijd</th>
                <th class="align_center" width="12%">Gewerkte uren</th>
                <th class="align_center" width="12%">Tijdsverschil</th>
                <th class="align_center" width="20%">Actie</th>
            </tr>
            @foreach(var value in Model)
            {
                <tr class="tr_bg" id="@value.Id">
                    <td>@value.Name</td>
                    <td class="align_center">@value.ScheduledStartTime.ToString("HH:mm")</td>
                    <td class="align_center">@value.ScheduledEndTime.ToString("HH:mm")</td>
                    @if(value.ApprovedStartTime != null)
                    {
                        <td class="align_center">@value.ApprovedStartTime.Value.ToString("HH:mm")</td>
                        <td class="align_center">@value.ApprovedEndTime.Value.ToString("HH:mm")</td>
                    }
                    else
                    {
                        <td class="align_center">@value.ClockedStartTime.ToString("HH:mm")</td>
                        <td class="align_center">@value.ClockedEndTime.Value.ToString("HH:mm")</td>
                    }
                    <td class="align_center">
                        @{
                            var asDateTime = new DateTime(2022, 1, 1, value.WorkedHours.Value.Hours, value.WorkedHours.Value.Minutes, 0);
                        }
                        @asDateTime.ToString("HH:mm")
                    </td>
                    <td class="align_center">@value.TimeDifference</td>
                    <td class="align_center">
                        @if(value.ApprovalTime == null)
                        {
                            <button onclick="$('#overlay').removeClass('hidden'); $('#overlay').load('/Manager/EditWorkedHours?year=@ViewBag.Date.Year&month=@ViewBag.Date.Month&day=@ViewBag.Date.Day&id=@value.Id');">Edit</button>
                            <button onclick="$.ajax({ type: 'GET', url: '/Manager/ApproveHours?id=@value.Id', success: function(data) { $('#@value.Id').load('/Manager/WorkedHours?year=@ViewBag.Date.Year&month=@ViewBag.Date.Month&day=@ViewBag.Date.Day #@value.Id > *'); }});">Accorderen</button>
                        }
                        else
                        {
                            <span class="green">Geaccordeerd</span>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="space_between">
            <div> </div>
            <div>
                <p class="align_right">
                    Pagina 1 van 1
                    <select>
                        <option>10 per pagina</option>
                        <option>25 per pagina</option>
                        <option>50 per pagina</option>
                    </select>
                </p>
                <p class="align_right">
                    <a asp-controller="Manager" asp-action="WorkedHours" class="visible_link">Vorige pagina</a>
                    <a asp-controller="Manager" asp-action="WorkedHours" class="visible_link">Volgende pagina</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="hidden" id="overlay"></div>
<script>
    window.onload = function () {
        $("#overlay").click(function(e) {
            if(e.target != this) return;
            $(this).addClass('hidden');
        });
    };
</script>