
@{
    ViewData["Title"] = "EditSchoolSchedule";
}

<h1>EditSchoolSchedule</h1>

@model WebApp.Domain.SchoolSchedule
@{
    ViewData["Title"] = "EditSchoolSchedule";
    ViewData["Stylesheet"] = "/css/employee.css";
}

<div class="modal fade" id="editSchoolSchedule">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="content_page">
                <button type="button" data-bs-dismiss="modal" class="closewindow_button"><span>X</span></button>
                <h4>@ViewBag.Day</h4>
            </div>
            <div class="form_page">
                <form method="post" asp-action="EditSchoolSchedule">
                    <div class="form-group">
                        <span>Start tijd</span>
                        <input asp-for="StartTime" class="time_input" value="@ViewBag.StartTime" type="time" />
                        <span>Eind tijd</span>
                        <input asp-for="EndTime" class="time_input" value="@ViewBag.EndTime" type="time" />
                        <input asp-for="Weekday" value="@ViewBag.Weekday" type="hidden" />
                        <input asp-for="EmployeeId" value="@ViewBag.EmployeeId" type="hidden" />
                        <input asp-for="StartDate" value="@ViewBag.Date" type="hidden" />
                        <input asp-for="EndDate" value="@ViewBag.Date" type="hidden" />
                        @if (ViewBag.ScheduleId != null)
                        {
                            <input asp-for="Id" value="@ViewBag.ScheduleId" type="hidden" />
                        }
                        <br />
                        <br />
                        <button class="edit_button" type="submit">Save</button>
                    </div>

                </form>
                @if (ViewBag.ScheduleId != null)
                {
                    <button type="button" onclick="location.href='@Url.Action("DeleteSingleSchoolSchedule", "Employee", new {schoolScheduleId = ViewBag.ScheduleId, employeeId = ViewBag.EmployeeId})'" class="delete_button">
                        Verwijder
                    </button>
                }
            </div>
        </div>
    </div>
</div>

