@model WebApp.Domain.LeaveRequest

@{
    ViewData["Title"] = "Verlof";
    ViewData["Stylesheet"] = "/css/employee.css";
}

<h1 class="current_page_title">Verlof aanvragen</h1>

<div class="request_leave_group">
    <div>
        <form asp-action="Requestleave">
            <h2>Huidige aanvragen</h2>
            <br />

            @if(ViewBag.Requests.Count > 0)
            {
                foreach (var request in ViewBag.Requests)
                {
                    <h5 class="align_center">Verlofaanvraag </h5>
                    <p class="align_center">Begindatum: @request.StartDate.ToShortDateString()</p>
                    <p class="align_center">Einddatum: @request.EndDate.ToShortDateString()</p>
                    <p class="align_center">Opmerking: @request.Comment</p>
                    <p class="align_center">
                        @if(request.Approved)
                        {
                            <span class="accepted">Goedgekeurd</span>
                        }
                        else if(request.Rejected)
                        {
                            <span class="rejected">Afgekeurd</span>
                        }
                        else
                        {
                            <span class="pending">Openstaand</span> <br />
                            <a class="button red_button" asp-action="DeleteRequest" asp-route-id="@request.Id">Annuleren</a>
                        }
                    </p>
                }
            }
            else
            {
                <p class="align_center">Er zijn geen aanvragen</p>
            }
        </form>
    </div>
    <div>
        <form asp-action="RequestLeave">
            <h2>Nieuwe aanvraag</h2>

            <p class="align_center">
                Begindatum: <input type="date" asp-for="StartDate"
                                   min="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")"
                                   max="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")" />
            </p>
            <span asp-validation-for="StartDate" class="text-danger"></span>

            <p class="align_center">
                Einddatum: <input type="date" asp-for="EndDate"
                                  min="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")"
                                  max="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")" />
            </p>
            <span asp-validation-for="EndDate" class="text-danger"></span>

            <div class="align_center">
                <p> Opmerking: <input asp-for="Comment" type="text" class="remark_input" /> </p>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="space_around">
                <button type="submit">Verstuur</button>
            </div>
        </form>
    </div>
</div>