@model WebApp.Domain.RequestLeave

@{
    ViewData["Title"] = "RequestLeave";
    ViewData["Stylesheet"] = "/css/employee.css";
}

<h1 class="current_page_title">Verlof aanvragen</h1>

<div class="request_leave_group">
    <div>
        <form asp-action="Requestleave">
            <h2>Huidige aanvragen</h2>
            <br />
            @if (ViewBag.isEmpty == false)
            {
                foreach (var request in ViewBag.Requests)
                {
                    <h5 class="align_center">Vrij aanvraag @request.Id</h5>
                    <p class="align_center">Begindatum: @request.StartDate.ToShortDateString()</p>
                    <p class="align_center">Einddatum: @request.EndDate.ToShortDateString()</p>
                    <p class="align_center">Opmerking: @request.Comment</p>
                    <p class="align_center">
                        <button class="red_button"> <a asp-action="DeleteRequest" asp-route-id="@request.Id"> Annuleren </a></button>
                    </p>
                }
            }
            else
            {
                <p class="align_center">Er zijn geen aanvragen</p>
            }
        </form>
    </div>
    <div>
        <form asp-action="RequestLeave">
            <h2>Nieuwe aanvraag</h2>

            <p class="align_center">
                Begindatum: <input type="date" asp-for="StartDate"
                                   min="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")" required />
            </p>
            <span asp-validation-for="StartDate" class="text-danger"></span>

            <p class="align_center">
                Einddatum: <input type="date" asp-for="EndDate"
                                  min="@DateTime.Now.AddDays(21).ToString("yyyy-MM-dd")"
                                  required />
            </p>
            <span asp-validation-for="EndDate" class="text-danger"></span>

            <div class="align_center">
                <p> Opmerking: <input asp-for="Comment" type="text" class="remark_input" /> </p>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <!--fix: disable button if StartDate is after EndDate-->
            <div class="space_around">
                <button type="submit">Verstuur</button>
            </div>

        </form>
    </div>
</div>