@using WebApp.Domain
@model IEnumerable<Schedule>
@{
    ViewData["Title"] = "rooster";
    ViewData["Stylesheet"] = "/css/employee.css";

    int weekday = 1;
    switch(new DateOnly(ViewBag.Date.Year, ViewBag.Date.Month, 1).DayOfWeek)
    {
        case DayOfWeek.Monday:    weekday = 1; break;
        case DayOfWeek.Tuesday:   weekday = 2; break;
        case DayOfWeek.Wednesday: weekday = 3; break;
        case DayOfWeek.Thursday:  weekday = 4; break;
        case DayOfWeek.Friday:    weekday = 5; break;
        case DayOfWeek.Saturday:  weekday = 6; break;
        case DayOfWeek.Sunday:    weekday = 7; break;
    }

    string link = "/Employee/WorkSchedule?";
}

@*<partial name="../Desktop/Calendar.cshtml" model="new CalendarData {
    CurrentMonth = ViewBag.Date.Month,
    CurrentYear = ViewBag.Date.Year,
    FirstWeekdayOfMonth = weekday,
    Today = DateOnly.FromDateTime(DateTime.Today),
    Selected = DateOnly.FromDateTime(ViewBag.Date),
    MinimumDay = DateOnly.FromDateTime(DateTime.Today),
    Link = link,
    FetchDataLink = null
};" />*@

<div>
    <header>
        <h1 class="align_center">
            <button class="nav_button" asp-action="PreviousDate">&#x2039</button>
            Rooster: Maandag 14 november - Zondag 20 november
            <button class="nav_button" asp-action="NextDate">&#x203A</button>
        </h1>
    </header>
    <br />
    <table class="schedule_table">
        <tr>
            <th colspan="9"></th>
            @for(int i = 0; i < 24; i++)
            {
                if(i < 10)
                {
                    <th colspan="4" class="align_center">@("0" + i):00</th>
                }
                else
                {
                    <th colspan="4" class="align_center">@i:00</th>
                }
            }
            <td class="invisible" class="align_center">24:00</td>
        </tr>
        @for(int i = 0; i < 7; i++)
        {
            <tr>
                <th colspan="9">@Weekdays.GetName(Enum.GetValues<Weekday>()[i])</th>
                @for(int j = 0; j <= 96; j++)
                {
                    if(Model.Any(schedule => schedule.StartTime.Date == ViewBag.Date.AddDays(i) && schedule.StartTime.Hour == j / 4))
                    {
                        Schedule current = Model.Where(schedule => schedule.StartTime.Date == ViewBag.Date.AddDays(i) && schedule.StartTime.Hour == j / 4).First();
                        int colspan = (current.EndTime.Hour - current.StartTime.Hour + 1) * 4;
                        j += colspan - 1;
                        <td class="schedule" colspan="@colspan">@current.StartTime.Hour:00 - @(current.EndTime.Hour + 1):00<br />@current.Department</td>
                        <td class="spacer"></td>
                        <td class="spacer"></td>
                        <td class="spacer"></td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>
</div>
