@using WebApp.Domain;


@{
    ViewData["Title"] = "rooster";
    ViewData["Stylesheet"] = "/css/employee.css";

}

<div class="watermark_concept">
    <p class="concept_text">CONCEPT</p>
</div>
<div class="modal-body">
    <div id="title">
        <h1 class="align_center">
            <button class="nav_button" asp-action="WorkSchedule" asp-route-userName="@ViewBag.UserName" asp-route-Dat="">&#x2039</button>
            Rooster:  @ViewBag.Monday.ToString("ddd dd MMMM") -  @ViewBag.Sunday.ToString("ddd dd MMMM")
            <button class="nav_button" asp-action="WorkSchedule">&#x203A</button>
        </h1>
    </div>
    <br />
    <table class="container table_style">
        <tr class="tr_style">
            <td></td>
            <td></td>
            <td>07:00</td>
            <td>08:00</td>
            <td>09:00</td>
            <td>10:00</td>
            <td>11:00</td>
            <td>12:00</td>
            <td>13:00</td>
            <td>14:00</td>
            <td>15:00</td>
            <td>16:00</td>
            <td>17:00</td>
            <td>18:00</td>
            <td>19:00</td>
            <td>20:00</td>
            <td>21:00</td>
            <td style="color:white; font-size:0">00:00</td>
        </tr>
        <br>

        @{
            int number = 0;
            int dbnumber = 0;
        }
        @if (ViewBag.Schedules != null)
        {
            @foreach (var item in ViewBag.Days as List<WebApp.Domain.Weekday>)
            {
                <tr class="tr_style">
                    @if (dbnumber == ViewBag.Schedules.Count)
                    {
                        dbnumber = 0;
                    }
                    <td class="day_div"><b>@WebApp.Domain.Weekdays.GetName(item)</b></td>

                    <td>@ViewBag.Dates[number].ToString("dd")</td>
                    @{
                        TimeSpan totalHours = (ViewBag.Schedules[dbnumber].EndTime - ViewBag.Schedules[dbnumber].StartTime).Duration();
                    }
                    @if (ViewBag.Dates[number].ToString("yyyy-MM-dd") == ViewBag.Schedules[dbnumber].StartTime.ToString("yyyy-MM-dd"))
                    {
                        <td class="length_hour" colspan="15">
                            <div class="work_line space_between">
                                <span>@ViewBag.Schedules[dbnumber].StartTime.ToString("HH:mm")</span>
                                <span>@ViewBag.Schedules[dbnumber].Department</span>
                                <span>@ViewBag.Schedules[dbnumber].EndTime.ToString("HH:mm")</span>
                            </div>
                        </td>

                        <td>@totalHours.ToString(@"h\:mm")</td>
                    }
                    else
                    {
                        <td class="length_hour" colspan="15">
                        </td>
                        <td>00:00</td>
                    }

                    @{
                        number++;
                        dbnumber++;
                    }

                </tr>
            }
        }
        else
        {
            @foreach (var item in ViewBag.Days as List<WebApp.Domain.Weekday>)
            {
                <tr>
                    <td class="day_div"><b>@WebApp.Domain.Weekdays.GetName(item)</b></td>

                    <td>@ViewBag.Dates[number].ToString("dd")</td>
                    <td class="length_hour" colspan="15">
                    </td>
                    <td>00:00</td>
                </tr>
            }  
        }
       
    </table>
   

</div>
